node_modules/
dist/
build/
.env
.env.local
*.log
__pycache__/
*.pyc
.venv/
Backend/.venv/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.local

.vercel


# App
SECRET_KEY=ea8bdad051b596a50899df8e0b0ee771d05b9549c1110b93e883aa40b674aeef
DEBUG=True

# Database — replace with your actual PostgreSQL credentials
DATABASE_URL=postgresql+asyncpg://commerce_user:commerce_pass@localhost:5432/commerce_db

# Redis
REDIS_URL=redis://localhost:6379

# JWT
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Stripe — use test keys from dashboard.stripe.com
STRIPE_SECRET_KEY=sk_test_placeholder
STRIPE_WEBHOOK_SECRET=whsec_placeholder

# M-pesa - Daraja API sandbox credentials
MPESA_CONSUMER_KEY=cdd9M1Xs0hmnAmVPtAFky85MyvjXOioPYZbiVxhPh0EoybqD
MPESA_CONSUMER_SECRET=l8cI4nfbjMBL5iBlmkwN022ggozOlvscc6Oi1FWGWAiI1ShluOqm4PnWZwqFVtJA
MPESA_SHORTCODE=174379
MPESA_PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
MPESA_ENV=sandbox
MPESA_CALLBACK_URL=https://f4fb-41-90-233-19.ngrok-free.app/api/v1/payments/mpesa/callback

# AWS S3 (optional for now)
#AWS_ACCESS_KEY_ID=placeholder
#AWS_SECRET_ACCESS_KEY=placeholder
#AWS_REGION=us-east-1
S3_BUCKET_NAME=placeholder