@import "tailwindcss";
/* stylelint-disable-next-line at-rule-no-unknown */

@layer base {
  * {
    /* stylelint-disable-next-line at-rule-no-unknown */
    @apply border-gray-200;
  }
  body {
    @apply bg-white text-gray-900 antialiased;
  }
}

@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}